extend layout
block body
  h2(align="center")
    a(href="#{url}"): img(src="#{logo}" width="#{logoWidth}" height="#{logoHeight}" alt="#{name}")
  h4(align="center") Content warehouse powered by the Bodega content system
